.main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1 {
  width: 70%;
  font-size: 6rem;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #668a98;
  line-height: 40px;
}
.content h1 span {
  font-size: 3rem;
}
.content p {
  font-size: 1.5rem;
  font-family: "Playfair Display";
  font-style: italic;
  color: #668a98;
  line-height: 30px;
}
.content span {
  font-size: 2rem;
  color: #668a98;
  line-height: 30px;
}
.icon2 {
  width: 300px;
}
.icon {
  width: 300px;
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .content {
    width: 100%;
  }
  .content h1 {
    width: 100%;
    font-size: 2.8rem;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #668a98;
    line-height: 40px;
  }
}
